div{
    height:100px;
    width:100px;
    border-radius:50%;
    border:5px solid blue;
    border-top:5px solid black;;
    animation:loading 5s ease-in 0s infinite normal;
    /* animation-name:loading;
    animation-duration:5s;
    animation-timing-function:ease-in;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal; */
}
@keyframes loading{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}