#one{
    height:100px;
    width:100px;
    background-color:aqua;
    position:absolute;
    top:100px;
    left:100px;
    animation-name:colorAnimate;
    animation-duration:3s;
    animation-timing-function:ease-in;
    animation-delay:1s;
    animation-iteration-count:5;
    animation-direction:normal;
}

@keyframes colorAnimate {
    from{background-color:aqua;}
    to{background-color:red;}
}

#two{
    height:100px;
    width:100px;
    background-color:aqua;
    position:absolute;
    top:300px;
    left:100px;
    animation-name:position;
    animation-duration:3s;
    animation-timing-function:ease-in;
    animation-delay:1s;
    animation-iteration-count:5;
    animation-direction:alternate;
    /* animation:position 3s ease-in 1s 5 alternate; */
}
@keyframes position {
    from{
        left:0px;
        font-size:20px;
        color:black;
        background-color: aqua;
    }
    to{
        left:300px;
        font-size:50px;
        color:white;
        background-color: red;
    }
}
#three{
    height:100px;
    width:100px;
    background-color:aqua;
    position:absolute;
    top:500px;
    left:100px;
    animation:percentage 5s ease-in 1s 5 normal;
}

@keyframes percentage {
    0%{
        left:0px;
        font-size:20px;
        color:black;
        background-color: aqua;
    }
    50%{
        left:300px;
        font-size:50px;
        color:white;
        background-color: red;
    }
    100%{
        left:0px;
        font-size:100px;
        color:black;
        background-color:blue;
    }
}