div{
    background-color:aqua;
    height:100px;
    width:100px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-top:20px;
    border:5px solid black;

}
h1{
    background-color:aqua;
    height:100px;
    width:200px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-top:20px;
    border:5px solid black;
    
}
h2{
    background-color:bisque;
    height:100px;
    width:200px;
    border:5px solid skyblue;
    padding:50px;
    margin-top:100px;
    margin-bottom:100px;
    margin-left:100px;
    margin-right:100px;


}
h3{
    background-color:bisque;
    height:100px;
    width:200px;
    border:5px solid skyblue;
    padding:5px 10px 15px 20px;
    margin:10px 20px 30px 40px;

}