div{
    background-color:pink;
    height:50px;
    width:100px
 }
h1{
    height:300px;
    width:700px;
    background-color:pink;
    border-width:2px;
    border-style:solid;
    border-color:black;
    text-align:center;
}
h2{
    height:100px;
    width:100px;
    background-color:skyblue;
    border-width:10px;
    border-style:dotted;
    border-color:red;
    text-align:center;

}
h3{
    height:100px;
    width:100px;
    border:5px double grey;
    border-radius:50px;
    text-align:center;
}
h4{
    height:100px;
    width:100px;
    border-width:10px;
    border-style:dashed;
    border-color:blue;
    background-color:rgb(255,255,0);

}