#div1{
    height:500px;
    width:500px;
    background-color:orange;
    border-radius:50%;
}

#div2{
    display:inline-block;
    position:relative;
    top:100px;
    left:150px;
}



#div3{
    height:50px;
    width:50px;
    background-color:black;
    display:inline-block;
    border-radius:50%;
}

#div4{
    height:50px;
    width:50px;
    background-color:black;
    display:inline-block;
    margin-left:100px;
    border-radius:50%;
}

#div5{
    height:50px;
    width:200px;
    background-color:red;
    position:relative;
    top:300px;
    left:150px;
    border-bottom-left-radius:40px;
    border-bottom-right-radius:40px;


}