

#static{
    height:100px;
    width:100px;
    background-color:green;
    text-align:center;
    border:2px solid black;
    margin:20px;
    position:static;
    top:100px;
    left:100px;
}

#relative{
    height:100px;
    width:100px;
    background-color:orange;
    text-align:center;
    border:2px solid black;
    margin:20px;
    position:relative;
    top:100px;
    left:1000px;
}

#absolute{
    height:100px;
    width:100px;
    background-color:blueviolet;
    text-align:center;
    border:2px solid black;
    margin:20px;
    position:absolute;
    top:50px;
    left:200px;
}


#div{
    height:100px;
    width:100px;
    background-color:yellow;
    text-align:center;
    border:2px solid black;
}

#fixed{
    height:100px;
    width:100px;
    background-color:blueviolet;
    text-align:center;
    border:2px solid black;
    margin:20px;
    position:fixed;
    top:50px;
    left:1200px;
}

#sticky{
    height:100px;
    width:100px;
    background-color:blueviolet;
    text-align:center;
    border:2px solid black;
    margin:20px;
    position:sticky;
    top:500px;
    left:400px;
}

