/*question 1*/
#div1{
    height:150px;
    width:300px;
    background-color:grey;
    border:5px dotted black;
    margin-top:20px;
    margin-right:1em;
    margin-bottom:40px;
    margin-left:2em;
    padding:1em;
}

#div11{
    height:100px;
    width:100px;
    background-color:pink;
    border:2px solid black;
    border-radius:50%;
    display:inline-block;
}
#div12{
    height:100px;
    width:100px;
    background-color:pink;
    border:2px solid black;
    border-radius:50%;
    display:inline-block;
}
#div13{
    height:100px;
    width:100px;
    background-color:pink;
    border:2px solid black;
    border-radius:50%;
    display:inline-block;
}

#divmain{
    display:inline-block;
}

li {
    display: inline;
    }

/* because inline itself means sentence,if you still want then try table which is inline*/