h1{
    border:2px solid black;
    width:33%;
}

#outer{
    height:400px;
    width:400px;
    background-color:pink;
    margin:50px;

}

#inner{
    height:100px;
    width:100px;
    background-color:cornflowerblue;
    margin-left:10%;

}

#outer1{
    height:400px;
    width:400px;
    border:2px solid black;
    background-color:pink;
    font-size:20px;

}

#inner1{
    height:100px;
    width:100px;
    background-color:cornflowerblue;
    font-size:2em;
    padding:1em;
}

h2{
    height:20rem;
    width:20rem;
    border:2px solid black;
}