div{
    height:100px;
    width:100px;
    background-color:black;
}


@media(max-width:300px){
    div{
    background-color:rgb(12, 241, 12);
}
}
@media(min-width:300px) and (max-width:400px){
    div{
        background-color:pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    div{
        background-color:red;
    }
}
@media(min-width:600px){
    div{
    background-color:blue;
}
}