div{
    height:100px;
    width:100px;
    background-color:aqua;
    border:2px solid black;
    transition-property:all;
    transition-duration:2s;
    transition-timing-function:ease-in;
    /* transition-timing-function:steps(5); */
    /* transition-timing-function:ease-in; */
    /* transition-timing-function:ease-in-out; */
    /* transition-timing-function:cubic-bezier(); */
    /* transition-delay:2s; */
    /* transition:all 5s linear 2s;
     */
     transform:rotate(45deg);
     /* rotate:x 45deg; */
     /* transform:scaleX(2); */
     /* transform:scaleY(2); */
     /* transform:scale(4,2); */
     /* transform:translateX(500px); */
}

div:hover{
    background-color:pink;
    color:white;
    font-size:40px;
    /* transform:scale(2); */
     /* transform:translateX(500px); */
     transform:skew(30deg);
  


  
}
div:active{
    background-color:yellow;
    color:white;
    font-size:40px;
}