.container{
    width:600px;
    height:300px;
    background-color:skyblue;
    display:grid;
    grid-template-rows: 60px 60px 60px;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr); */
    /* row-gap:10px;
    column-gap:20px; */
    /* grid-gap:10px 20px; */
    /* justify-items:end;
    align-items:end; */
    place-items:center;

}

.item{
    height:50px;
    width:100px;
    background-color: greenyellow;
    border:2px solid black;
    text-align:center;
}

.one{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* justify-self:start;
    align-self:start; */
    place-self:start;
}



.box{
    height:100px;
    width:400px;
    background-color:pink;
    animation-name:fontwidth;
    animation-duration:2s;
    animation-timing-function: 2s;
    animation-delay:1s;
    animation-iteration-count: 3;
    animation-direction:reverse;
}

@keyframes fontAnimation{
    from{font-size:20px;}
    to{font-size:40px;}
}

@keyframes colorAnimate{
    from{background-color: green;}
    to{background-color: yellow;}
}

@keyframes widthAnimate{
    from{
        width:100px;
        font-size:20px;
    }
    to{
        width:400px;
        font-size:40px;}
}

@keyframes fontwidth{
    0%{font-size:10px;}
    50%{font-size:50px;}
    100%{font-size:100px;}

}


h3{
    background-color: yellow;
    border:2px solid black;
}
@media (width:400px){
    h3{
        background-color:red;
    }
}

@media(min-width:400px){
    h1{
        background-color:greenyellow;
    }
}
@media(orientation:landscape){
    h4{
        background-color:grey;
    }
}

.box1{
    height:150px;
    width:150px;
    border:2px solid black;
    background-color:pink;
}
.one1{
    background-color:aquamarine;
    position:relative;
    z-index:1;
}
.two2{
    background-color: darksalmon;
    position:relative;
    bottom:50px;
}