<%- include("includes/head.ejs") %>
<body>
    <h1>This page belongs to @ <%= username %> </h1>
    <button>Follow</button>
    <button>Message</button>
    <h2>Accounts That Follow You</h2>
    <ul>
        <% for(let name of followers){  %>
            <li> <%= name %> </li>
            <% } %>
    </ul>


    <%- include("includes/footer.ejs") %>
</body>
</html>
