/*9,2*/
p{
    color:brown;
    line-height:30px;
}

/*4,3*/
h1{
    text-align:center;
    color:red

}
/*4,3*/
h3{
    text-align:center;
    color:black;
}
/*5*/
body{
    font-family: Georgia;
}
/*6*/
a{
    color:rgb(0,255,0);
    text-decoration:none;
}
/*8*/
textarea{
    color:black;
}


/*7*/
button{
    background-color:white;
    color:blueviolet;
}
/*10*/
span{
    text-decoration: underline;
}