div{
    height:200px;
    width:1000px;
    background-color:pink;
    

}
ol{
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
a{
    text-decoration:none;
    color:black;
}
#one{
    background-color: blueviolet;
    height:100px;
    width:100px;
    border:2px solid black;
}
#two{
    background-color:chartreuse;
    height:100px;
    width:100px;
    border:2px solid black;
}
#three{
    background-color:darksalmon;
    height:100px;
    width:100px;
    border:2px solid black;
}
#four{
    background-color:hotpink;
    height:100px;
    width:100px;
    border:2px solid black;
}